# Otsikko placeholder

## Koodin alustaminen

In [1]:
# Oleellisimmat paketit:

import pandas as pd   # sisältää erilaisia datan lukemiseen liittyviä työkaluja
import numpy as np   # sisältää erilaisia numeerisen laskennan työkaluja
import matplotlib.pyplot as plt  # sisältää kuvaajien (plot) piirtotyökaluja

# Muita hyödyllisiä paketteja:

import random as rand   # sisältää funktioita satunnaislukujen generoimiseen
from scipy import stats    # sisältää tieteellistä laskentaa ja tilastolaskentaa
from scipy.stats import norm    # normaalijakaumatyökaluja
import matplotlib.mlab as mlab  # lisää kuvaajatyökaluja monimutkaisempiin kuvaajiin

# Ei paketti, mutta oleellinen komento joka mahdollistaa tulosten näkymisen nätisti harjoitteissa:

%matplotlib inline

## Ideoita

- CMS kokeet ovat tavallaan ihan tavallisia fysiikan kokeita
- Nykyään dataa on paljon ja tarvitaan koodia sen käsittelyyn. Esimerkkinä voi olla CMS data.
    - tavoitteena innostaa ohjelmoinnin ottamiseen osaksi muita opintojaan

## Avoin Data - Miksi ohjelmointi tärkeää monessa ammatissa?

- Ohjelmoinnin perustaidot tulevaisuudessa edellytys monen ammatin harjoittamiseen

Miksi?
- tietokoneiden avulla datan kerääminen älyttömän helppoa
    - Ongelmana, että halutaan tallentaa kaikki mahdollinen
- Työntekijän tehtävä käydä läpi valtava datamäärä ja etsiä sieltä omaa yritystä hyödyttävät tiedot ja tulkita niitä
    - Käsin liian työlästä, mutta tietokone on myös helppo käskeä perkaamaan data meidän puolesta muutamalla komennolla

## Hiukkasfyysikot pulassa - Auta CERN:in tutkijoita

### Mikä on hiukkaskiihdytin

LHC hiukkaskiihdyttimellä voidaan kiihdyttää hiukkasia esim. protoneja lähes valonnopeuteen ja törmäyttää nämä hiukkaset keskenään. Tutkimalla törmäyksessä syntyviä hiukkasia tutkijat pystyvät testaamaan teorioitansa maailmankaikkeuden pienimmistä osasista.

Videolla näytetään, kuinka protonit kiihdytetään LHC:n avulla lähes valonnopeuteen ja törmäytetään yhteen. Tietokoneet on __ohjelmoitu__ perkaamaan törmäyksessä syntyvää dataa.

In [2]:
from IPython.display import HTML

HTML('<iframe width="560" height="315" src="https://www.youtube.com/embed/pQhbhpU9Wrg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>')

### Datan käsittely

Avataan ensin mittauksesta saatu data-paketti. Tämä data-paketti on jo esikäsitelty, ja siitä on karsittu paljon epäoleellista tietoa pois. Jäljellä on kahden törmäyksestä syntyneen muoni-hiukkasen tiedot.

In [4]:
Zmuonmuon = pd.read_csv('data/Zmumu_Run2011A_massat.csv')

Katsotaan ensin, mitä tämän data tiedoston viisi ensimmäistä riviä pitää sisällään.

In [5]:
Zmuonmuon.head()

,Run,Event,Type1,E1,px1,py1,pz1,pt1,eta1,phi1,...,Type2,E2,px2,py2,pz2,pt2,eta2,phi2,Q2,M
0,165617,74969122,G,59.9226,-46.15160,29.4115,-24.4070,54.7055,-0.432396,2.574210,...,G,52.4465,30.10970,-16.39890,-39.68760,34.2464,-0.988480,-0.498704,-1,89.9557
1,165617,75138253,G,97.1011,-23.61440,6.6660,-93.9497,24.5872,-2.052200,2.866570,...,G,30.5992,-11.61340,-25.98480,11.23470,28.5389,0.385163,-1.991170,1,88.6081
2,165617,75887636,G,152.9720,7.46565,-30.7098,-149.6710,31.7386,-2.259450,-1.332290,...,G,33.5835,-9.28778,28.74570,-14.67190,30.2344,-0.468419,1.883310,1,88.2438
3,165617,75833588,G,181.8770,44.14270,-14.9498,175.8040,46.7085,2.037940,-0.326565,...,G,170.0210,-34.63010,12.32480,166.00000,36.1024,2.212810,2.799550,-1,83.0943
4,165617,75779415,G,50.2440,37.80720,-12.2044,-30.7590,39.7394,-0.712338,-0.312266,...,G,49.2396,-47.60640,8.23376,-9.50613,48.2790,-0.195625,2.970320,-1,90.3544

Tämä datamäärä ei näytä vielä kovin uhkaavalta, mutta katsotaan, kuinka monta riviä tässä dokumentissa on.

In [12]:
rivit = len(kaksoismyonit)
print("Tässä dokumentissa on %d riviä." % rivit)

Tässä dokumentissa on 10851 riviä.

Datan ensimmäisellä rivillä on paljon englanninkielisiä selitteitä eri arvoille. Käännetään nämä arvot mahdollisimman kuvaaviksi suomenkielisiksi termeiksi

In [21]:
Zmuonmuon = pd.read_csv('data/Zmumu_Run2011A_massat.csv', sep=',', encoding = "ISO-8859-1", header = None, 
names = ['Mittauksen numero','Törmäyksen numero','Type1','Ensimmäisen Muonin energia','px1','py1','pz1','pt1','eta1',
         'phi1','Q1','Type2','Toisen Muonin energia','px2','py2','pz2','pt2','eta2','phi2','Q2','M'])

In [22]:
Zmuonmuon.head()

,Mittauksen numero,Törmäyksen numero,Type1,1. Muonin energia,px1,py1,pz1,pt1,eta1,phi1,...,Type2,Toisen Muonin energia,px2,py2,pz2,pt2,eta2,phi2,Q2,M
0,Run,Event,Type1,E1,px1,py1,pz1,pt1,eta1,phi1,...,Type2,E2,px2,py2,pz2,pt2,eta2,phi2,Q2,M
1,165617,74969122,G,59.9226,-46.1516,29.4115,-24.407,54.7055,-0.432396,2.57421,...,G,52.4465,30.1097,-16.3989,-39.6876,34.2464,-0.98848,-0.498704,-1,89.9557
2,165617,75138253,G,97.1011,-23.6144,6.666,-93.9497,24.5872,-2.0522,2.86657,...,G,30.5992,-11.6134,-25.9848,11.2347,28.5389,0.385163,-1.99117,1,88.6081
3,165617,75887636,G,152.972,7.46565,-30.7098,-149.671,31.7386,-2.25945,-1.33229,...,G,33.5835,-9.28778,28.7457,-14.6719,30.2344,-0.468419,1.88331,1,88.2438
4,165617,75833588,G,181.877,44.1427,-14.9498,175.804,46.7085,2.03794,-0.326565,...,G,170.021,-34.6301,12.3248,166,36.1024,2.21281,2.79955,-1,83.0943

### Ongelmia

- Oppilaat tuntevat atomin rakenteen, ja tuntevat alfa-, beta- ja gamma säteilyn
    - Aiheessa paljon uusia käsitteitä, joita voi olla hankala sisäistää
    
Yksinkertaistaminen ei silti ole mahdotonta yläkoulun tasolle, mutta vaatii hyvää asiantuntemusta.

### Ehdotuksia

- Sen sijaan, että yläkoulussa käsiteltäisiin CERN:nin mittaustuloksia, analysoitaisiinkin CERN:iin ja sen työyhteisöön liityvää dataa. Aiheita jotka voisi motivoida lukemaan fysiikaa lukiossa.
    - Tutkijoiden sukupuolijakauma. Murretaan myyttiä fysiikasta "tieteen viimeisenä miehisenä linnakkeena"
    - Tulevien harjottelijoiden määrät ja kotimaat. Analysointia kuvaajalla.
    - CERN:in energian kulutuksen vaihteluista kuukauden aikana.
- Hylätään CERN ja tuodaan vain ohjelmointi oppilastöiden välineeksi
    - Radioaktiivisen hajoamisen data analysointi
    - Mitataan kännykällä "dataa" ja tulkitaan sitä 
    - Pienempien kiihdyttimien datan analysointia jossa reaktiot "yksinkertaisempia"
    
 Markkinointi matemaatikoille